<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/21a5d2d8cc.js" crossorigin="anonymous"></script>
</head>

    <body>
    
        <header class="main-header">
            <div class="main-header-top-bar">
                <img src="/img/logo-mercado-liebre.png" class="logo">
                <div class="searchbar">
                    <form action="/search' method=" get"="" class="search-form">
                        <input type="text" class="search" placeholder="Buscar productos, marcas y más...">
                        <button class="search-button" type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                        
                    </form>
                </div>
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd" aria-hidden="true"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
    
            <a href="#" class="hamburger-button">
                <i class="fas fa-bars" aria-hidden="true"></i>
            </a>
    
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
    
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card" aria-hidden="true"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt" aria-hidden="true"></i></a></li>
                    <li><a href="#">Tus compras <i class="fas fa-shopping-basket" aria-hidden="true"></i></a></li>
                </ul>
            </nav>
    
        </header>
    
        <main>
            
            <div>
                <img src="/img/img-home-banner.jpg" class="banner">
            </div>
    
            <div class="main-main">
            <h2 class="titulo-seccion">Basado en tu última visita</h2>
    
            <div class="seccion">
                    <div class="producto">
                        <img class="prod-image" src="/img/img-macbook-pro-2019.jpg" height="330px" width="300px"> 
                            <div class="prod-info">
                                <p class="prod-precio">$230.000</p>
                                <p class="prod-dcto">20% OFF</p>
                                <h4 class="prod-titulo">MacBook Pro 2019</h4>
                                <i class="fas fa-truck" aria-hidden="true"></i>
                            </div> 
                    </div>
                    <div class="producto">
                        <img class="prod-image" src="/img/img-samsung-galaxy-s10.jpg" height="330px" width="300px"> 
                            <div class="prod-info">
                                <p class="prod-precio">$70.500</p>
                                <p class="prod-dcto">10% OFF</p>
                                <h4 class="prod-titulo">Samsung Galaxy S10</h4>
                                <i class="fas fa-truck" aria-hidden="true"></i>
                            </div> 
                    </div>
                    <div class="producto">
                        <img class="prod-image" src="/img/img-cafetera-moulinex.jpg" height="330px" width="300px"> 
                            <div class="prod-info">
                                <p class="prod-precio">$6.770</p>
                                <p class="prod-dcto">40% OFF</p>
                                <h4 class="prod-titulo">Cafetera Moulinex</h4>
                                <i class="fas fa-truck" aria-hidden="true"></i>
                            </div> 
                    </div>
                    <div class="producto">
                        <img class="prod-image" src="/img/img-tv-samsung-smart.jpg" height="330px" width="300px"> 
                            <div class="prod-info">
                                <p class="prod-precio">$23.200</p>
                                <p class="prod-dcto">5% OFF</p>
                                <h4 class="prod-titulo">SmartTv Samsung 43"</h4>
                                <i class="fas fa-truck" aria-hidden="true"></i>
                            </div> 
                    </div>
            </div>
    
            <h2 class="titulo-seccion">Sección de ofertas</h2>
            
            <div class="seccion">
                    <div class="producto">
                        <img class="prod-image" src="/img/img-macbook-pro-2019.jpg" height="330px" width="300px"> 
                            <div class="prod-info">
                                <p class="prod-precio">$230.000</p>
                                <p class="prod-dcto">20% OFF</p>
                                <h4 class="prod-titulo">MacBook Pro 2019</h4>
                                <i class="fas fa-truck" aria-hidden="true"></i>
                            </div> 
                    </div>
                    <div class="producto">
                        <img class="prod-image" src="/img/img-samsung-galaxy-s10.jpg" height="330px" width="300px"> 
                            <div class="prod-info">
                                <p class="prod-precio">$70.500</p>
                                <p class="prod-dcto">10% OFF</p>
                                <h4 class="prod-titulo">Samsung Galaxy S10</h4>
                                <i class="fas fa-truck" aria-hidden="true"></i>
                            </div> 
                    </div>
                    <div class="producto">
                        <img class="prod-image" src="/img/img-cafetera-moulinex.jpg" height="330px" width="300px"> 
                            <div class="prod-info">
                                <p class="prod-precio">$6.770</p>
                                <p class="prod-dcto">40% OFF</p>
                                <h4 class="prod-titulo">Cafetera Moulinex</h4>
                                <i class="fas fa-truck" aria-hidden="true"></i>
                            </div> 
                    </div>
                    <div class="producto">
                        <img class="prod-image" src="/img/img-tv-samsung-smart.jpg" height="330px" width="300px"> 
                            <div class="prod-info">
                                <p class="prod-precio">$23.200</p>
                                <p class="prod-dcto">5% OFF</p>
                                <h4 class="prod-titulo">SmartTv Samsung 43"</h4>
                                <i class="fas fa-truck" aria-hidden="true"></i>
                            </div> 
                    </div>
            </div>
            </div>
        </main>
    
    
    
        <footer>
            
            <div class="main-footer">
                    <div class="segmento">
                    <i class="fas fa-credit-card fa-3x" aria-hidden="true"></i>
                    <h2 class="subtitulo">Pagá con tarjeta o efectivo</h2>
                    <p class="texto"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
    
                <div class="segmento">
                    <i class="fas fa-gift fa-3x" aria-hidden="true"></i>
                    <h2 class="subtitulo">Envío gratis desde $2.500</h2>
                    <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
    
                <div class="segmento">
                    <i class="fas fa-shield-alt fa-3x" aria-hidden="true"></i>
                    <h2 class="subtitulo">Seguridad, de principio a fin</h2>
                    <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>
            </div>
    
            <div class="sub-footer">
                <div class="copyright">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div> 
            </div>
    
        </footer>
    
    
    
    </body>
</html>